#logo {
    position: relative;
    height: 190px;
}

#menu {
    position: relative;
    height: 80px;
}

img {
    padding-top: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container, .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: inline-end;
}

a {
    color: #015F94;
    
}
