<div class="container">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button (click)="cancel()" type="submit" id="fechar">X</button>
        </div>
    </div>        
    <h2>Faça o login antes de agendar o seu serviço</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md 5">
            <button (click)="goToLogin()" id="login" type="submit">Fazer Login</button>
        </div>
        <div class="col-md 5">
            <button (click)="cancel()" id="cancelar" type="submit">Cancelar</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>