<body>
    <div class="container">
        <h1>Nossos produtos</h1><br>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../assets/produto1.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">L'Oréal Professionnel Expert Absolut Repair Cortex Lipidium</h5>
                    <p class="card-text">Máscara de reconstrução para cabelos danificados em tamanho de salão.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto2.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">L'Oréal Professionnel Expert Vitamino Color A-OX </h5>
                    <p class="card-text">Máscara de tratamento para cabelos coloridos.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto3.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Kit L'Oréal Professionnel Expert Absolut Repair Cortex Lipidium Salon</h5>
                    <p class="card-text">Shampoo e condicionador para cabelos danificados.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto4.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Kit Inoar Argan Oil Mask</h5>
                    <p class="card-text">Kit de tratamento para cabelos danificados, ressecados e tratados quimicamente.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="../../assets/produto5.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Balm de Barba Sobrebarba Lemon Drop pra Viagem</h5>
                    <p class="card-text">Balm de Barba Sobrebarba Lemon Drop pra Viagem - 
                        100ml tem propriedades cicatrizantes e anti-inflamatórias.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto6.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Hidratante de Barba Cia da Barba</h5>
                    <p class="card-text">O Hidratante de Barba Cia da Barba - 120g é responsável por
                        cuidar da barba durante o dia.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto7.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Balm Para Barba - Barba de Respeito</h5>
                    <p class="card-text">Para barbudos exigentes e que sabem muito bem o que querem,
                        o Balm Barba de Respeito é um verdadeiro chamariz de mulheres.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../../assets/produto8.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Balm para Barba Midtown Barba Urbana 150ml </h5>
                    <p class="card-text">Balm para Barba Midtown Barba Urbana além de nutrir e hidratar
                        os pelos, o produto não deixa de lado os cuidados com a pele.</p>
                    <h6>Disponível no salão!</h6>
                </div>
            </div>
        </div>
    </div>
</body>