<div class="container">
    <h1>Nossos parceiros</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="../../../assets/loreal.png" alt="Logo Loreal">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/garnier.png" alt="Logo garnier">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/boticario.png" alt="Logo Boticario">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/pantene.png" alt="pantene">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
