<div id="s1" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Corte Feminino</h3>    
                </div>
            <img class="card-img-top" src="../../assets/4461_lipo-1.png" alt="Corte Feminino">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Corte Masculino</h3>    
                </div>
            <img class="card-img-top" src="../../assets/cortemasc.jpg" alt="Corte Masculino">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="s2" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Escova</h3>    
                </div>
            <img class="card-img-top" src="../../assets/escova.jpg" alt="Escova">
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Barba</h3>    
                </div>
            <img class="card-img-top" src="../../assets/barba.jpg" alt="Barba">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
    
    