<body>
    <div class="container">
        <h1>Jogrã Cabelos</h1>
        <div id="historia" class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h4>Quem somos</h4>
                <br>
                <p>Desde 2011 em Petrolina-PE o Jogrã Cabelos é um salão de beleza completo,
                    que tem como grande diferencial a harmonia entre o espaço e seus clientes.
                    <br><br>
                    Além da excelência no atendimento, o equilíbrio entre conforto e sofisticação
                    evidenciam a personalidade única do local.
                    <br><br>
                    Confie em nossos serviços. Temos o melhor para você!
                    </p>                    
                    <button routerLink="/servicos" type="submit">Ver serviços</button>
            </div>
            <div id="imagem" class="col-md-5">
                <div class="card">                        
                    <img class="card-img-top" src="../../assets/salao.jpeg" alt="Salão de beleza - foto">
                </div>                
            </div>
            <div class="col-md-1"></div>
        </div>        
    </div>
    <br><br><br><br>

    <div class="container">
        <h1>O melhor para você</h1>
        <div class="row">
            <div class="col-md-3">
                <i id="icone1" class="fas fa-cut fa-3x"></i><br>
                <h4>Atendimento Profissional</h4>
                <p>Aqui você será atendido por profissionais altamente capacitados,
                    que garantirão a sua beleza. Confie na gente.
                </p>
            </div>

            <div class="col-md-3">
                <i id="icone2" class="fas fa-gift fa-3x"></i><br>
                <h4>Aniversário</h4>
                <p>Está fazendo aniversário? Parabéns. Aqui você receberá um desconto mais que especial.                    
                </p>
            </div>

            <div class="col-md-3">
                <i id="icone3" class="fas fa-heart fa-3x"></i><br>
                <h4>Terapia</h4>
                <p>Aqui você terá uma massagem especial ao som de uma boa música.
                    Tudo para que você esteja o mais relaxado possível.
                </p>
            </div>

            <div class="col-md-3">
                <i id="icone4" class="fas fa-glass-cheers fa-3x"></i><br>
                <h4>Bebidas</h4>
                <p>Gosta de um bom vinho? Champanhe? Cerveja? Aqui você irá provar de tudo isso e mais um pouco!
                </p>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="banner">
        <div id="frase">
            <h2 id="vai">Vai casar?</h2>
            <p id="venha">Conheça o nosso pacote especial para noivas<br>
                e venha passar um dia mais que especial com a gente.</p>
        </div>        
    </div>
    <br>
    <app-galeria></app-galeria>
    <br><br>
        
    <app-parceiros></app-parceiros>
    <br><br>
    
</body>