<div class="container" id="agendamento">
    <h1 id="titulo">Faça seu agendamento</h1><br>
    <div class="form-row">
        <div class="col-md-4">            
            <div class="form-row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <label for="">Data</label>
                    <input [(ngModel)]="agenda.data" class="form-control" id="date" type="date">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <label for="">Horário</label>
                    <input [(ngModel)]="agenda.hora" class="form-control" type="time" id="appt" name="appt"
                    min="09:00" max="18:00" required>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-row">
                <div class="col-md-8">
                    <label for="">Serviço</label>
                    <select [(ngModel)]="agenda.servico" name="" id="" class="form-control">
                        <option *ngFor="let servico of servicos"> {{ servico }} </option>
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <br>

    <div id="off" *ngIf="deslogado" class="alert alert-danger" role="alert">
        O usuário está offline. Faça o login antes de continuar.
    </div>
    
    <br><br>
    <button (click)="verificar()" type="button" class="btn btn-primary btn-lg">Agendar serviço</button>
</div>