.form-row {
    padding-top: 40px;
    position: relative;
}

#agendamento {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    height: 580px;
}

#titulo {
    color: #015F94;
    text-align: center;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#off {
    width: 72%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #2098D1;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 7px;
}

h1:before {
    text-align: center;
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

h1:hover:before, h1:focus:before, h1:active:before {
    left: 0;
    right: 0;
}
