<body>
    <div class="container">
        <h1>Alguns de nossos trabalhos</h1>
        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/c1.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c2.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c3.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c4.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="../../../assets/c5.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c6.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c7.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img src="../../../assets/c8.jpg" alt="">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="linha"></div>
</body>