.linha {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: gray;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 350px;
    width: auto;
    filter: grayscale(100%);
}

img:hover {
    transition-duration: 0.3s;
    filter: grayscale(0%);
}

.container {
    text-align: center;
}

h1 {
    color: #2098D1;
    text-align: center;
    padding-top: 30px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
}

h1:before {
    text-align: center;
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

h1:hover:before, h1:focus:before, h1:active:before {
    left: 0;
    right: 0;
}